
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
}

body{
  width: 100%;
  min-height: 100vh; 
  overflow-x: hidden;
  background-color: black;
  color: white;
}

header{
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5)); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  transform: scale(1.5) translateY(-5px);
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #b74b4b;
}

.logo:hover{
  color: black;
  transform: scale(1.7);
  background-color: #b74b4b;
  box-shadow: 0 0 25px #b74b4b; 
  border-radius: 50%;
}

.image2{
  position: relative;
  cursor: pointer;
  border-radius: 25%;
  height: 150px;
}

nav a{
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}

@media(max-width: 995px){
  nav{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid #b74b4b;
    border-bottom: 3px solid #b74b4b;
    border-bottom-left-radius: 2rem;
    padding: 1rem;
    background-color: #161616;
    border-top: 0.1rem solid rgba(0,0,0,0.1);
  }

  nav.active{
    display: block;
  }

  nav a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover,
  nav a.active{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #b74b4b;
  }
}

section{
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: black;
}

.home .home-content h1{
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

span{
  color: #b74b4b;
}

.home-content form{
  color: #b74b4b;
}

.home-content h3{
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home-content p{
  font-size: 1.6rem;
}

.home-img{
  position: relative;
  z-index: 0;
}

@property --a{
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.home-img::after, .home-img::before{
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 101%;
  background-image: conic-gradient(from var(--a), transparent 50%, #d11919);
  top: 49.25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 3px;
  animation: 3s spin linear infinite;
}

.home-img::before{
  filter: blur(3rem);
  opacity: 0.9;
}

@keyframes spin {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.home-img img{
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px #b74b4b; 
  cursor: pointer;
  transition: 0.2s linear;
}

.home-img img:hover{
  font-size: 1.8rem;
  font-weight: 500;
}

.social-icons a{
  position: relative;
  bottom: 20rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: 0.2rem solid #b74b4b;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #b74b4b;
}

.social-icons a:hover{
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: #b74b4b;
  box-shadow: 0 0 25px #b74b4b;
}

.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
  position: relative;
  display: inline-block;
}

.typing-text span::before {
  content: "Apprenti Développeur"; 
  color: #b74b4b;
  animation: changeText 12s steps(1) infinite; 
}

.typing-text span::after {
  content: "";
  background-color: #b74b4b;
  position: absolute;
  width: 2px;
  height: 100%;
  right: -5px;
  animation: blinkCursor 0.6s infinite;
}

@keyframes changeText {
  0%, 33.33% {
    content: "Apprenti Développeur"; 
  }
  33.34%, 66.66% {
    content: "Futur Développeur"; 
  }
  66.67%, 100% {
    content: "Futur Web Designer"; 
  }
}

@keyframes blinkCursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lirelasuite{
  margin-top: 15px;
  display: inline-block;
  padding: 0.5rem 0.7rem;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #b74b4b;
  letter-spacing: 0.2rem;
  font-weight: 600;
  border: 1px solid #b74b4b;
  transition: 0.3s ease;
  cursor: pointer;
}

.texte-suite{
  font-size: 162.5%;
}

.full {
  color: #b74b4b;
  display: flex; 
  justify-content: space-evenly; 
  align-items: center;
  height: 800px;
}

.full img{ 
  cursor: pointer;
  transition: 0.2s linear;
  border-radius: 50%;
  width: 300px;
  height: auto;
  overflow: hidden;
} 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
}

body{
  width: 100%;
  min-height: 100vh; /* Changed height to min-height */
  overflow-x: hidden;
  background-color: black;
  color: white;
}

header{
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5)); /* Corrected the drop-shadow */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  transform: scale(1.5) translateY(-5px);
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #b74b4b;
}

.logo:hover{
  color: black;
  transform: scale(1.7);
  background-color: #b74b4b;
  box-shadow: 0 0 25px #b74b4b; /* Removed solid */
  border-radius: 50%;
}

.image2{
  position: relative;
  cursor: pointer;
  border-radius: 25%;
  height: 150px;
}

nav a{
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}

nav{
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 40%;
  border-left: 3px solid #b74b4b;
  border-bottom: 3px solid #b74b4b;
  border-bottom-left-radius: 2rem;
  padding: 1rem;
  background-color: #161616;
  border-top: 0.1rem solid rgba(0,0,0,0.1);
}

nav.active{
  display: block;
}

nav a{
  display: block;
  font-size: 2rem;
  margin: 3rem 0;
}

nav a:hover,
nav a.active{
  padding: 1rem;
  border-radius: 0.5rem;
  border-bottom: 0.5rem solid #b74b4b;
}

section{
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: black;
  flex-direction: column; /* Extracted from media queries */
  margin: 5rem 4rem; /* Extracted from media queries */
}

.home .home-content h1{
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

span{
  color: #b74b4b;
}

.home-content form{
  color: #b74b4b;
}

.home-content h3{
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2.5rem; /* Extracted from media queries */
}

.home-content p{
  font-size: 1.6rem;
}

.home-img{
  position: relative;
  z-index: 0;
  width: 70vw; /* Extracted from media queries */
  margin-top: 4rem; /* Extracted from media queries */
}

@property --a{
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.home-img::after, .home-img::before{
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 101%;
  background-image: conic-gradient(from var(--a), transparent 50%, #d11919);
  top: 49.25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 3px;
  animation: 3s spin linear infinite;
}

.home-img::before{
  filter: blur(3rem);
  opacity: 0.9;
}

@keyframes spin {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.home-img img{
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 25px #b74b4b; /* Removed solid */
  cursor: pointer;
  transition: 0.2s linear;
}

.home-img img:hover{
  font-size: 1.8rem;
  font-weight: 500;
}

.social-icons a{
  position: relative;
  bottom: 20rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: 0.2rem solid #b74b4b;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #b74b4b;
}

.social-icons a:hover{
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: #b74b4b;
  box-shadow: 0 0 25px #b74b4b;
}

.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
  position: relative;
  display: inline-block;
}

.typing-text span::before {
  content: "Apprenti DÃ©veloppeur"; /* Texte par dÃ©faut */
  color: #b74b4b;
  animation: changeText 12s steps(1) infinite; /* DurÃ©e de 12s pour couvrir les 3 textes */
}

.typing-text span::after {
  content: "";
  background-color: #b74b4b;
  position: absolute;
  width: 2px;
  height: 100%;
  right: -5px;
  animation: blinkCursor 0.6s infinite;
}

@keyframes changeText {
  0%, 33.33% {
    content: "Apprenti DÃ©veloppeur"; /* Premier texte pendant 33.33% du temps */
  }
  33.34%, 66.66% {
    content: "Futur DÃ©veloppeur"; /* DeuxiÃ¨me texte pendant 33.33% du temps */
  }
  66.67%, 100% {
    content: "Futur Web Designer"; /* TroisiÃ¨me texte pendant 33.33% du temps */
  }
}

@keyframes blinkCursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lirelasuite{
  margin-top: 15px;
  display: inline-block;
  padding: 0.5rem 0.7rem;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #b74b4b;
  letter-spacing: 0.2rem;
  font-weight: 600;
  border: 1px solid #b74b4b;
  transition: 0.3s ease;
  cursor: pointer;
}

.texte-suite{
  font-size: 162.5%;
}

.full {
  color: #b74b4b;
  display: flex; 
  justify-content: space-evenly; 
  align-items: center;
  height: 800px;
}

.full img{ 
  cursor: pointer;
  transition: 0.2s linear;
  border-radius: 50%;
  width: 300px;
  height: auto;
  overflow: hidden;
} 

.full img:hover{ 
  transform: scale(1.25);
  overflow: hidden;
}

.full img:hover{ 
  transform: scale(1.25);
  overflow: hidden;
}

@media(max-width: 995px){
  .home{
    flex-direction: column;
    margin: 5rem 4rem;
  }

  .home .home-content h3{
    font-size: 2.5rem;
  }

  .home-img img{
    width: 70vw;
    margin-top: 4rem;
  }
}
